.search {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 7%;
    font-size: 16px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.input-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px 0 0 6px;
    border: 1px solid #cdd9ed;
}

.search button {
    border-radius: 0 6px 6px 0;
    padding: 14px 20px;
    border: none;
    background-color: #cdd9ed;
}

.input-field:focus {
    outline: none;
    border-color: var(--yellow);
    /* color: red; */
    /* background-color: green; */
}

button.focused {
    background-color: var(--yellow);
}