@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #1f1f1f;
    --white: #fff;
    --yellow: tomato;
    /* --yellow: #FB9333; */
    --deep-yellow: #ffc727;
    --bg-yellow: #fffaf1;
    --btn-yellow: #fff4d4;
    --footer-yellow: #fff9e9;
    --grey: #585858;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    --transition: all 0.2s linear;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: var(--grey);
}


a {
    text-decoration: none;
    color: inherit;
}

p {
    color: var(--grey);
    font-size: 16px;
}

li {
    list-style: none;
}

/* img {
    height: 100%;
} */

section {
    padding: 0 7%;
}

.yellow {
    color: var(--yellow);
}